<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    @Html.Partial("_Navbar")
    <main role="main" class="container mt-5">
        @RenderBody()
    </main>
    @Html.Partial("_Footer")
    @RenderSection("Scripts", required: false)
</body>
</html>
